<h2>Student Information</h2>

<table border="1">
  <thead>
    <tr>
      <th>Student ID</th>
      <th>Student Name</th>
      <th>Student College</th>
      <th>Student Status</th>
      <th>DSA Final Score</th>
      <th>WebD Final Score</th>
      <th>React Final Score</th>
      <th>Interview Date</th>
      <th>Interview Company</th>
      <th>Interview Result</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td1</td>
        <td>Ashish</td>
        <td>Deogiri College</td>
        <td>Not placed</td>
        <td>12 dec</td>
        <td>1000</td>
        <td>1000</td>
        <td>2000</td>
        <td>Google</td>
        <td>On
          Hold,</td>
      </tr>
 
  </tbody>
</table>

<!--  -->