<!-- views/home.ejs -->


<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <h1 class="display-4">Welcome! Team Career Camp!</h1>
            <p class="lead">Empowering futures, one interview at a time.</p>
            <p>Track and manage student interviews seamlessly with our intuitive platform. Make informed decisions
                and elevate your career program.</p>
            <a class="btn btn-primary btn-lg" href="/users/signin" role="button">Sign In</a>
            <a class="btn btn-success btn-lg" href="/users/signup" role="button">Sign Up</a>
        </div>
        <div class="col-lg-6">
            <img src="https://images.unsplash.com/photo-1450101499163-c8848c66ca85?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Application Image" class="img-fluid">
        </div>
    </div>

    <hr class="my-5">

</div>
